@import 'tailwindcss';

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

:root {
    --height-header: 60px;

    --base-color1: #011F5B;
    --base-color2: #071D39;
    --base-color3: #3A3A4A;
    --base-color4: #EBEBEF;

    --font-primary: 'Inter';
    --font-secundary: 'Roboto'
}

@theme inline {
    /* ============================== CABEÇALHO ============================== */
    --height-header: var(--height-header);

    /* ============================== CORES ============================== */
    --color-color1-25: hsl(from var(--base-color1) h s calc(l - 10));
    --color-color1-50: hsl(from var(--base-color1) h s calc(l - 5));
    --color-color1-100: var(--base-color1);
    --color-color1-200: hsl(from var(--base-color1) h s calc(l + 5));
    --color-color1-400: hsl(from var(--base-color1) h s calc(l + 10));

    --color-color2-25: hsl(from var(--base-color2) h s calc(l - 10));
    --color-color2-50: hsl(from var(--base-color2) h s calc(l - 5));
    --color-color2-100: var(--base-color2);
    --color-color2-200: hsl(from var(--base-color2) h s calc(l + 5));
    --color-color2-400: hsl(from var(--base-color2) h s calc(l + 10));

    --color-color3-25: hsl(from var(--base-color3) h s calc(l - 10));
    --color-color3-50: hsl(from var(--base-color3) h s calc(l - 5));
    --color-color3-100: var(--base-color3);
    --color-color3-200: hsl(from var(--base-color3) h s calc(l + 5));
    --color-color3-400: hsl(from var(--base-color3) h s calc(l + 10));

    --color-color4-25: hsl(from var(--base-color4) h s calc(l - 10));
    --color-color4-50: hsl(from var(--base-color4) h s calc(l - 5));
    --color-color4-100: var(--base-color4);
    --color-color4-200: hsl(from var(--base-color4) h s calc(l + 5));
    --color-color4-400: hsl(from var(--base-color4) h s calc(l + 10));

    /* ============================== FONTES ============================== */
    --font-primary: var(--font-primary);
    --font-secundary: var(--font-secundary);
    --text-md: 1rem;

    /* ============================== SOMBRAS ============================== */
    --shadow-sm: 0 0 0.25rem hsl(from var(--base-color3) h s l / 0.25);
    --shadow-md: 0 0 0.5rem hsl(from var(--base-color3) h s l / 0.25);
    --shadow-lg: 0 0 1rem hsl(from var(--base-color3) h s l / 0.25);

    --shadow-sm-hard: 0 0 0.25rem hsl(from var(--base-color1) h s l / 0.75);
    --shadow-md-hard: 0 0 0.5rem hsl(from var(--base-color1) h s l / 0.75);
    --shadow-lg-hard: 0 0 1rem hsl(from var(--base-color1) h s l / 0.75);
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    html,
    body {
        overflow-x: hidden;
    }
}

@layer components {
    .nav-header {
        position: fixed;
        inset: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--color-color4-400);

        &>ul {
            margin-top: calc(var(--height-header) + 1rem);
            height: calc(100% - var(--height-header) - 1rem);
            flex-direction: column;
            align-items: stretch;
            padding-inline: 1rem;
            gap: 1rem !important;
        }

        & li {
            width: 100%;
        }

        & a {
            display: block;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem !important;
            font-size: 1.6rem !important;
            background-color: transparent !important;
            color: var(--base-color1) !important;
            border: none !important;
        }

        & a:hover {
            background-color: var(--color-color4-100) !important;
            box-shadow: none !important;
        }
    }

    .slide-container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 10%;
            background-image: linear-gradient(to left, var(--color-color4-200), transparent);
        }

        &::before {
            content: '';
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 10%;
            background-image: linear-gradient(to right, var(--color-color4-200), transparent);
        }
    }
}

@utility bg-button {
    background-image: linear-gradient(to top right, var(--base-color1), var(--color-color1-400))
}

@utility shadow-link {
    box-shadow: 0 0 0.5rem hsl(from var(--base-color1) h s l / 0.75);
}

@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none;
    }

    &::-moz-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

@utility animate-carrossel {
    animation: animate-carrossel 120s linear infinite;
}

@utility animate-carrossel-reverse {
    animation: animate-carrossel 120s linear infinite reverse;
}

@utility animate-emerge-up {
    animation: animation-emerge-up 1s 250ms ease forwards;
}

@utility animate-emerge-down {
    animation: animation-emerge-down 1s 250ms ease forwards;
}

@utility animate-emerge-left {
    animation: animation-emerge-left 1s 250ms ease forwards;
}

@utility animate-emerge-right {
    animation: animation-emerge-right 1s 250ms ease forwards;
}

@utility animate-new-message {
    animation: animate-new-message 1s ease forwards;
}

@utility animate-delete-message {
    animation: animate-delete-message 1s ease forwards;
}

@utility animate-progress {
    animation: animate-progress 10s linear forwards;
}

@keyframes animate-carrossel {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes animation-emerge-up {
    from {
        transform: translateY(-25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animation-emerge-down {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animation-emerge-left {
    from {
        transform: translateX(-25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animation-emerge-right {
    from {
        transform: translateX(25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animate-progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes animate-new-message {
    from {
        transform: translateX(calc(100% + 1rem));
    }

    to {
        transform: none;
    }
}

@keyframes animate-delete-message {
    from {
        transform: none;
    }

    to {
        transform: translateX(calc(100% + 1rem));
    }
}