/* Fonte provisória */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

:root {
    --height-header: 60px;

    --base-color1: #011F5B;
    --base-color2: #071D39;
    --base-color3: #3A3A4A;
    --base-color4: #EBEBEF;

    --font-primary: 'Inter';
    --font-secundary: 'Roboto'
}

@theme inline {
    /* ============================== CABEÇALHO ============================== */
    --height-header: var(--height-header);

    /* ============================== CORES ============================== */
    --color-color1-25: hsl(from var(--base-color1) h s calc(l - 10));
    --color-color1-50: hsl(from var(--base-color1) h s calc(l - 5));
    --color-color1-100: var(--base-color1);
    --color-color1-200: hsl(from var(--base-color1) h s calc(l + 5));
    --color-color1-400: hsl(from var(--base-color1) h s calc(l + 10));

    --color-color2-25: hsl(from var(--base-color2) h s calc(l - 10));
    --color-color2-50: hsl(from var(--base-color2) h s calc(l - 5));
    --color-color2-100: var(--base-color2);
    --color-color2-200: hsl(from var(--base-color2) h s calc(l + 5));
    --color-color2-400: hsl(from var(--base-color2) h s calc(l + 10));

    --color-color3-25: hsl(from var(--base-color3) h s calc(l - 10));
    --color-color3-50: hsl(from var(--base-color3) h s calc(l - 5));
    --color-color3-100: var(--base-color3);
    --color-color3-200: hsl(from var(--base-color3) h s calc(l + 5));
    --color-color3-400: hsl(from var(--base-color3) h s calc(l + 10));

    --color-color4-25: hsl(from var(--base-color4) h s calc(l - 10));
    --color-color4-50: hsl(from var(--base-color4) h s calc(l - 5));
    --color-color4-100: var(--base-color4);
    --color-color4-200: hsl(from var(--base-color4) h s calc(l + 5));
    --color-color4-400: hsl(from var(--base-color4) h s calc(l + 10));

    --color-color5-25: hsl(from var(--base-color5) h s calc(l - 10));
    --color-color5-50: hsl(from var(--base-color5) h s calc(l - 5));
    --color-color5-100: var(--base-color5);
    --color-color5-200: hsl(from var(--base-color5) h s calc(l + 5));
    --color-color5-400: hsl(from var(--base-color5) h s calc(l + 10));

    /* ============================== FONTES ============================== */
    --font-primary: var(--font-primary);
    --font-secundary: var(--font-secundary);
    --text-md: 1rem;

    /* ============================== SOMBRAS ============================== */
    --shadow-sm: 0 0 0.25rem hsl(from var(--base-color3) h s l / 0.25);
    --shadow-md: 0 0 0.5rem hsl(from var(--base-color3) h s l / 0.25);
    --shadow-lg: 0 0 1rem hsl(from var(--base-color3) h s l / 0.25);

    --shadow-sm-hard: 0 0 0.25rem hsl(from var(--base-color1) h s l / 0.75);
    --shadow-md-hard: 0 0 0.5rem hsl(from var(--base-color1) h s l / 0.75);
    --shadow-lg-hard: 0 0 1rem hsl(from var(--base-color1) h s l / 0.75);
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }
}

@layer components {
    .nav-header {
        position: fixed;
        inset: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--color-color4-400);

        &>ul {
            margin-top: calc(var(--height-header) + 1rem);
            height: calc(100% - var(--height-header) - 1rem);
            flex-direction: column;
            align-items: stretch;
            padding-inline: 1rem;
            gap: 1rem !important;
        }

        & li {
            width: 100%;
        }

        & a {
            display: block;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem !important;
            font-size: 1.6rem !important;
            background-color: transparent !important;
            color: var(--base-color1) !important;
            border: none !important;
        }

        & a:hover {
            background-color: var(--color-color4-100) !important;
            box-shadow: none !important;
        }
    }

    .slide-container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 10%;
            background-image: linear-gradient(to left, var(--color-color4-200), transparent);
        }

        &::before {
            content: '';
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 10%;
            background-image: linear-gradient(to right, var(--color-color4-200), transparent);
        }
    }
}

@utility bg-welcome {
    background: url('/backgrounds/image.png') no-repeat center right;
    background-size: contain
}

@utility shadow-link {
    box-shadow: 0 0 0.5rem hsl(from var(--base-color1) h s l / 0.75);
}

@utility bg-auth {
    background: url('/assets/backgrounds/background-login.jpg') no-repeat center bottom;
    background-size: cover;
}

@utility title-welcome {
    background-image: linear-gradient(to right bottom, var(--color-color1-100) 25%, var(--color-color2-400), var(--color-color4-25));
    background-clip: text;
    color: transparent;
}

@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none;
    }

    &::-moz-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

@utility animate-carrossel {
    animation: animate-carrossel 120s linear infinite;
}

@utility animate-carrossel-reverse {
    animation: animate-carrossel 120s linear infinite reverse;
}

@utility animate-emerge-up {
    animation: animation-emerge-up 1s 250ms ease forwards;
}

@utility animate-emerge-down {
    animation: animation-emerge-down 1s 250ms ease forwards;
}

@utility animate-emerge-left {
    animation: animation-emerge-left 1s 250ms ease forwards;
}

@utility animate-emerge-right {
    animation: animation-emerge-right 1s 250ms ease forwards;
}

@keyframes animate-carrossel {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes animation-emerge-up {
    from {
        transform: translateY(-25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animation-emerge-down {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animation-emerge-left {
    from {
        transform: translateX(-25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animation-emerge-right {
    from {
        transform: translateX(25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}