@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Fonte provisória */

@import 'tailwindcss';

:root {
    --height-header: 80px;

    --base-color1: #0A2A55;
    --base-color2: #ff6700;
    --base-color3: #ebebeb;
    --base-color4: #c0c0c0;
    --base-color5: #50808e;

    --font-primary: 'Roboto'
}

@theme inline {
    --height-header: var(--height-header);
    --color-header: hsl(from var(--base-color3) h s calc(l + 5) / 0.75);

    --color-color1: var(--base-color1);
    --color-color2: var(--base-color2);
    --color-color3: var(--base-color3);
    --color-color4: var(--base-color4);
    --color-color5: var(--base-color5);

    --font-primary: var(--font-primary);

    --shadow-sm: 0.25rem 0.25rem 1rem hsl(from var(--base-color5) h s l / 0.1)
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .wrapper {
        min-height: 100vh;
        background-color: var(--base-color3);
    }
}

@layer components {
    .link-header {
        position: relative;
        font: 500 1rem var(--font-primary);
        color: var(--base-color1);

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1px;
            height: 2px;
            width: 0;
            border-radius: 1rem;
            transition: all 150ms;
            background-color: var(--base-color1);
        }

        &:hover::after {
            left: 0;
            width: 100%;
        }
    }
}

@utility shadow-link {
    box-shadow: 0 0 0.5rem hsl(from var(--base-color1) h s l / 0.75);
}