# =====================< Autenticação >=====================
SECRET_KEY=<SUA-CHAVE-SECRETA-AQUI>
CORS_ORIGINS=http://localhost:3000,http://localhost:4173

# ====================< Banco de dados >====================
DB_USER=root
DB_PASSWORD=<SENHA-DO-BANCO-DE-DADOS-AQUI>
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_eduia
TRASH_RETENTION_DAYS=30
